@model testapp.ui.Models.PasswordChange

@{
  ViewData["Title"] = "Puan";
  Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container">
<h1>Profil Düzenleme Sayfası</h1>
<form class="mt-2" method="post" enctype="multipart/form-data">
        @* @Html.Label("Eski Parola")
        <input type="text" asp-for="formerPassword" class="form-control"/>
        <br/> *@
        @Html.Label("Parola")
        <input type="password" asp-for="NewPassword" class="form-control"/>
        <br/>
        @Html.Label("Parola tekrar")
        <input type="password" asp-for="ConfirmNewPassword" class="form-control"/>
        <br/>    
        <button class="btn btn-info">Şifre Değiştir</button>       
</form>
</div>