<!DOCTYPE html>
<html lang="en">
  @await Html.PartialAsync("/Views/PartialUi/_head.cshtml")
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      @await Html.PartialAsync("/Views/Home/Navbar.cshtml")
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        @await Html.PartialAsync("/Views/Home/_sidenavbar.cshtml")
        <!-- partial -->    
       
          @RenderBody()
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
         
          <!-- partial -->
       
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
           @await Html.PartialAsync("/Views/PartialUi/_footer.cshtml")
    <!-- container-scroller -->
    <!-- plugins:js -->
          @await Html.PartialAsync("/Views/PartialUi/_script.cshtml")
   
    <!-- End custom js for this page -->
  </body>
</html>
@RenderSection("Scripts", required: false)