
    <div class="sonucEkran p-2">
        <div class="row">
            <div class="col-3">
                <div class="mt-5" style="font-weight: 1000;"> Genel Yetenek </div>
                
            </div>
            <div class="col-3">Doğru Sayısı
                <div class="form-group mt-3">
                    <input type="text" id="Dcevap" name="GKCorrect" class="form-control" placeholder="Doğru cevap"
                        required="">
                </div>
                
            </div>
            <div class="col-3">Yanlış Sayısı
                <div class="form-group mt-3">
                    <input type="text" id="Ycevap" name="GKINCorrect" class="form-control" placeholder="Yanlış cevap"
                        required="">
                </div>
                
            </div>
            <div class="col-3">
                <div class="form-group mt-3">
                    <input  type="hidden" id="GKresult" name="GKTotalNet" value="0" class="form-control" placeholder="Net"
                        required="">
                </div>
               
            </div>
            <input type="hidden" name="GKTotalPoint" id="GKPoint" value="">
           
         </div>
       </div>
     </div>
  </div>




